.header {
    padding-top: 40px;
    position: relative;
    background-color: var(--footer-bg);
    background-image: url('./../img/header/header-bg.jpg');
    background-size: cover;
    aspect-ratio: 1440 / 1084;

    color: var(--header-text-color);

    a {
        color: inherit;
    }


    @include retina-bg(url('./../../img/header/header-bg@2x.jpg'));

    @include mobile(){
        padding-top: 20px;
        padding-bottom: 240px;

        background-position: center;
        aspect-ratio: unset;
    }

    &__nav {
        margin-bottom: 86px;
        margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
    }

    &__content {
        text-align: center;

        p {
            margin: 0 auto;
            max-width: 606px;

            font-size: 24px;
            font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
            line-height: 160%;
            text-wrap: balance;
            color: rgba($color: #fff, $alpha: 0.8);
        }
    }

    &__title {
        margin-bottom: 14px;

        font-weight: 700;
        font-size: 80px;
        font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
        line-height: 130%;
        letter-spacing: -0.8px;
        text-transform: capitalize;
        text-wrap: balance;
    }

    &__search {
        margin: 45px auto 0;
    }

    &__dot {
        position: absolute;

        @include mobile-xl(){
            display: none;
        }
    }
    &__dot--sofa {
        left: calc(296 * 100% / ( 1440 - 30 ));
        top: calc(685 * 100% / ( 1084 - 9 ));
    }
    &__dot--vase {
        left: calc(114 * 100% / 1440);
        top: calc(754 * 100% / 1084);
        transform: translate(-50%, -50%);
    }
    &__dot--item {
        left: calc(810 * 100% / 1440);
        top: calc(787 * 100% / 1084);
        transform: translate(-50%, -50%);
    }
    &__dot--wall {
        right: calc(47 * 100% / 1440);
        top: calc(821 * 100% / 1084);
    }
}
